<section class="intro">
    <center>
    <img src="assets/images/CISPA_Logo_EN_RGB.png" width=400px>
    <img src="assets/images/inr_logo_rouge.png" width=400px>
    </center>
  <div class="container">
    <p class="lead">
    <b>SecGen</b> is a joint team between Inria and CISPA Helmholtz Center for Information Security, working together on the subject of network traffic generation and network anomaly detection. <a href="https://files.inria.fr/secgen/about">Learn more here!</a>
    </p>
  </div>
</section>
